
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif, Arial, Helvetica, sans-serif; /* Fallback font */
    background: #ffffff;
    color: #000000;
    font-size: 16px; /* Default font size; consider using relative units like 'em' or 'rem' */
    line-height: 1.6; /* Improved readability */
}

/* Accessibility Improvements */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px; /* Slightly larger font size for larger screens */
    }
}

/* High Contrast Mode for users who prefer it */
@media screen and (prefers-contrast: high) {
    body {
        background: #000000;
        color: #ffffff;
    }
}

/* Responsive Text Size */
@media screen and (max-width: 480px) {
    body {
        font-size: 14px; /* Smaller font size for smaller screens */
    }
}


h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    margin: 25px 0 25px 0;
}


img.frame {
  -o-border-image: url("images/picture-frame.png") 93 92 87 92 stretch stretch;
     border-image: url("images/picture-frame.png") 93 92 87 92 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 60px;
  display: block;
  width: 70%;
  height: auto;
  background-color: #ffe;
  margin: 0 auto;
}

.landscape-frame {
    width: 500px; /* Set your desired width */
    height: auto; /* This will maintain the aspect ratio */
  }

@media all and (max-width: 500px) {
  img.frame {
    border-width: 0px;
    width: 100%;
  }
}

@media all and (max-width:500px) {
    #sidebar {
    width: 100px;
    font-size: 1.8em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgb(94, 95, 96);
    color: #fff;
    transition: all 0.3s;
    }
}


p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}

ul.workshops > li {
    /*list-style-type: square;*/
    /*list-style-image: url('starry-night.png');*/
    font-size: 1.6em;
}

/*a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}*/

a {
  color: #000000;
  font-family: arial;
  text-decoration: underline;
  text-transform: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #b870ff;
  font-weight: bold;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 10px solid #b870ff;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

.greentext {
    color: #12947b;
    display: inline;
    margin-top: 20px;
}

.purpletext {
    color: #b870ff;
    display: inline;
    margin-top: 20px;
    font-weight: 900;
}

#listing1 {
    padding: 20px;
}

#sidebar {
    width: 100px; /* Adjusted for better visibility */
    font-size: 1em; /* Adjusted for better readability */
    position: fixed;
    top: 0;
    left: 0;
    height: 250vh;
    z-index: 999;
    background: rgb(94, 95, 96);
    color: #fff;
    transition: all 0.3s;
}

#sidebar a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

#sidebar a:focus, #sidebar a:hover {
    color: #b870ff;
    background: #fff;
    outline: none; /* Remove default focus outline */
}

#sidebar ul.components {
    padding: 5px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    text-align: center;
    display: block;
}

/* Additional styles for focus states to improve keyboard navigation */
#sidebar ul li a:focus {
    background-color: #6d7fcc;
    color: #fff;
    outline: 2px solid #b870ff; /* Visible outline for focused elements */
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 105px);
    padding: 10px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* ---------------------------------------------------
    CANVAS CSS
----------------------------------------------------- */

canvas {
    border: 1px solid black;
    cursor: crosshair;
}



/* ---------------------------------------------------
    ART FRAME
----------------------------------------------------- */
.art-frame {
    border: 10px solid #0c0c0c; /* Black wooden frame effect */
    padding: 5px; /* Space between the image and the frame */
    background-color: #2b2b2b; /* Slight shadow effect */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5); /* Adding depth to the frame */
    display: inline-block; /* To respect the width of the image */
}
.center-image {
    display: flex;
    justify-content: center;
}



/* ---------------------------------------------------
    NAV
----------------------------------------------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


/* ---------------------------------------------------
    READ MORE BUTTON
----------------------------------------------------- */
.btn-custom {
    background-color: black; /* Black background */
    color: white; /* White text */
}

.btn-custom:hover {
    background-color: #000; /* Slightly lighter black on hover */
    color: white;
}


/* ---------------------------------------------------
    IMAGE SLIDER
----------------------------------------------------- */
.carousel-item img {
    margin: 0 auto; /* Center the image */
    width: 50%; /* Set the width to 50% of the container */
}



/* ---------------------------------------------------
    CUSTOM IMAGE
----------------------------------------------------- */

/* Custom class for additional control */
.custom-img {
    width: 50%; /* Default width */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .custom-img {
        width: 40%; /* Slightly larger on tablets */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .custom-img {
        width: 30%; /* Larger on desktops */
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .custom-img {
        width: 20%; /* Even larger on large desktops */
    }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .custom-img {
        width: 70%; /* Full width on small devices */
    }
}




/* ---------------------------------------------------
    GAP SPACING
----------------------------------------------------- */

.gap-20px {
    display: block;
    height: 20px;
    width: 100%;
}




/* ---------------------------------------------------
    CUSTOM PADDING
----------------------------------------------------- */

.custom-padding {
    padding: 0 15px; /* Adjust the padding as needed */
}

/* Or for more specific control */
.custom-padding-image {
    padding-right: 10px; /* Adjust the right padding for the image column */
}

.custom-padding-text {
    padding-left: 10px; /* Adjust the left padding for the text column */
}



.toc-heading {
    font-size: 2ßrem; /* Adjust the size as needed */
}
.toc-item {
    font-size: 2rem; /* Adjust the size as needed */
}



/* ---------------------------------------------------
    GOLD FRAME FOR SECTION 10
----------------------------------------------------- */

.gold-frame {
    border: 10px solid #D4AF37; /* Gold color */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for depth */
    padding: 4px; /* Optional: Adds space between the image and the frame */
    margin: 10px; /* Optional: Adds space outside the frame */
}

.purple-frame {
    border: 10px solid #663399; /* Rebecca Purple color */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for depth */
    padding: 4px; /* Optional: Adds space between the image and the frame */
    margin: 10px; /* Optional: Adds space outside the frame */
}

.blue-frame {
    border: 10px solid #00008b; /* Blue color */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for depth */
    padding: 4px; /* Optional: Adds space between the image and the frame */
    margin: 10px; /* Optional: Adds space outside the frame */
}

.black-frame {
    border: 15px solid #000000; /* Black color */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow for depth */
    padding: 4px; /* Optional: Adds space between the image and the frame */
    margin: 5px; /* Optional: Adds space outside the frame */
}


.emphasized-text {
    font-weight: normal; /* Adjust as needed, but avoid making it look like a heading */
    /* Additional styling here */
  }


  .frame-container {
    position: relative;
  }
  
  .old-painting-frame {
    border: 10px solid #d4af37;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 5px;
  }
  
  .frame-icon {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    height: auto;
  }
  
  .lipstick-icon {
    top: -10px; /* Adjust position as needed */
    left: -10px;
  }
  
  .mirror-icon {
    bottom: -10px;
    right: -10px;
  }
  
  .comb-icon {
    top: -10px;
    right: -10px;
  }
  


  .gallery-label {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-style: italic;
    color: #555; /* Subtle color for the text */
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #ddd; /* Adds an underline */
    display: inline-block; /* Makes the border only as wide as the text */
    padding-bottom: 0.25rem;
  }
  


  /* Custom class for the video wrapper */
.video-wrapper {
    border: 5px solid black; /* Thick black outer border */
    padding: 3px; /* Space for the inner blue border */
    background-color: blue; /* Inner blue border color */
  }
  
  .ratio-16x9 {
    background-color: #000; /* Optional: in case the video takes time to load, this will show a black background */
  }
  


  .crochet-frame {
    border: 4px solid #000000; /* Light brown color for the crochet effect */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle shadow for depth */
    padding: 20px; /* Adjusts the space between the image and the border */
    background-image: url('images/crochet-pattern.png'); /* Path to a crochet pattern image */
    background-size: cover; /* Ensures the background image covers the entire border */
  }

  
  